<h2>Select an end time:</h2>
{{#if showEndDateErrorMessage}}
  <p class="ui error">
    {{endDateErrorMessage}}
  </p>
{{/if}}
{{time-selector setTime=(action 'setEndTime') errorMessage=endDateErrorMessage}}
