$activeColor: #477DCA;
.box {
  background: $activeColor;
  color: white;
  padding: 30px 0;
  margin-top: 15px;
  text-align: center;
  width: 15.67%;
  border: 1px solid darken($activeColor, 2%);
  border-radius: 2px;
  &.selected {
    background: lighten($activeColor, 50%);
    color: #333;
  }
}
