{{outlet}}

{{sit-select
  label='Who will be the sitter'
  prompt='Select a baby sitter'
  content=model.sitters
  optionValue='id'
  optionLabel='firstName'
  value=sitter
  isEditing=true
  name="sitter"
  onSelect='sitterSelected'}}

<button type="button" name="button" {{action 'save'}}>Save</button>
